.long-error-message {
    padding: 0.8rem;
    border-radius: 0.5rem;
    background-color: #fc2e1c;
    margin-top: 1rem;
}

.long-error-message p {
    color: white;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    font-size: 0.8em;
    text-align: center;
}