<app-background></app-background>
<section class="section" *ngIf="book">
    <div class="header-row">
        <span>
            <h1 class="section-title no-top-margin small-bottom-margin" style="display: inline;">{{book.title}}</h1>
            <p class="side-title small-bottom-margin">{{ book.category }}</p>
        </span>
        <div>
            <a routerLink="edit" class="edit-link horizontal-pad">Edit</a>
            <a class="delete-button small-left-margin" (click)="showDelete()">Delete</a>
        </div>
    </div>
    <div *ngIf="book.contributors && book.contributors.length > 0" class="undertitle">
        By <span class="undertitle">{{book.contributors.join(', ')}}</span>
    </div>
    <div class="small-top-margin">
        <span *ngIf="book.publisher" class="small-text">Published by {{book.publisher}}</span>
        <span *ngIf="book.publication_date" class="small-text"> in {{book.publication_date | date: 'y'}}</span>
    </div>
    <p *ngIf="book.isbn" class="small-text no-top-margin no-top-padding">ISBN: {{book.isbn}} </p>
    <p *ngIf="book.description" class="description">{{book.description}}</p>
    <div *ngIf="book.sections && book.sections.length > 0">
        <h4 class="list-header small-bottom-margin">Sections</h4>
        <ol class="no-top-margin">
           <li *ngFor="let section of book.sections" class="list-item">
                {{section}}
           </li> 
        </ol>
    </div>
    <p class="small-text text-right no-bottom-margin no-bottom-padding italic">
        {{ book.publicly_accessible ? "This book is visible to everyone" : "This book is only visible to you"}}
    </p>
</section>
<app-deletemodal [slug]="book?.slug || ''"></app-deletemodal>