.message {
    width: 100%;
    display: flex;
    overflow: hidden;
    position: absolute;
    justify-content: center;
    z-index: 100;

    &__content {
        white-space: nowrap;
        color: white;
        border-radius: 0.8rem;
        width: fit-content;
        padding: 1rem;
        font-family: 'Montserrat', sans-serif;
    }
}

.info {
    background-color: #999;
}

.warning {
    background-color: lightyellow;
}

.error {
    background-color: #fc2e1c;
}