<app-background></app-background>
<section class="top-section">
    <h1 class="section-title white">Recipe Books</h1>
    <a class="create-link" routerLink="create">
        Add Book
    </a>
</section>
<section class="form--large" style="margin-top: 0;">
    <form class="book-search" [formGroup]="searchForm">
        <input class="form__input search-input search-input-with-category" 
               type="search"
               formControlName="search"
               placeholder="Search books"
               (input)="updateSearch()">
        <select class="form__input search-category-input" 
                formControlName="category"
                (change)="updateSearch()">
            <option value="">All Categories</option>
            <option *ngFor="let category of this.categories.getBookCategories()">{{category}}</option>
        </select>
    </form>
    <section class="book-results">
        <a *ngFor="let book of books" class="book-display" routerLink="{{book.slug}}">
            <div class="book-tile">
                <h5 class="book-title">{{book.title}}</h5>
                <p class="book-publisher">{{book.publisher}}</p>
                <p class="book-category">{{book.category}}</p>
            </div>
            <div style="width: 20%; display: flex; align-items: center;">
                <a class="book-purchase-link" href="books/{{book.slug}}/get">
                    <fa-icon [icon]="faCartPlus"></fa-icon>
                </a> 
            </div>   
        </a>
        <p *ngIf="!books || books.length === 0" class="description">No results match the query</p>
    </section>
</section>