<app-background></app-background>
<div class="container">
    <section class="dashboard__recipe-list">
        <div class="dashboard-recipe-list__title">
            <h1 class="dashboard__title">
                My Recipes
                <button class="dashboard__refresh-recipes" (click)="refreshRecipes()">
                    <fa-icon [icon]="faRotate"></fa-icon>
                    <div class="dashboard__refresh-tooltip">
                        <div class="tooltip-background"></div>
                        <p class="tooltip-text">Refresh Recommended Recipes</p>
                    </div>
                </button>
            </h1>
            <h4 class="dashboard__week-indicator">{{getWeek()}}</h4>
        </div>
        <ul *ngIf="this.recipes" class="dashboard-recipe-list__list">
            <li *ngFor="let recipe of this.recipes" class="dashboard__recipe-item">
                <h5 class="dashboard-recipe-list__recipe-title">{{recipe.title}}</h5>
                <p *ngIf="recipe.serves" class="dashboard-recipe-list__recipe-serves">Serves {{recipe.serves}}</p>
            </li>
        </ul>
    </section>
    <section class="dashboard__selected-recipe" *ngIf="this.selectedRecipe">
        <h4 class="recipe-title">{{this.selectedRecipe.title}}</h4>
        <p *ngIf="this.selectedRecipe.source" class="recipe-source">From {{this.selectedRecipe.source}}</p>
        <p class="selected-recipe-description">{{this.selectedRecipe.description}}</p>
        <div class="selected-recipe-ingredients">
            <h5 class="selected-recipe-header">Ingredients</h5>
            <div class="ingredients-container">
                <div *ngFor="let ingredient of this.selectedRecipe.ingredients" class="recipe-ingredient">
                    {{ingredient.amount | number: '1.0-2'}} {{ingredient.amount_unit}} {{ingredient.ingredient.name}}{{ingredient.preparation && ", " + ingredient.preparation}}
                </div>
            </div>
        </div>
        <div class="selected-recipe-steps">
            <h5 class="selected-recipe-header">Steps</h5>
            <ol>
                <li class="recipe-step" *ngFor="let step of this.selectedRecipe.steps">
                    {{ step.description }}
                </li>
            </ol>
        </div>
    </section>
</div>