<app-background></app-background>
<div class="container">
    <section class="dashboard__recipe-list">
        <div>
            <h1 class="dashboard__title">
                My Recipes
                <button class="dashboard__refresh-recipes" (click)="refreshRecipes()">
                    <fa-icon [icon]="faRotate"></fa-icon>
                </button>
            </h1>
            <h4 class="dashboard__week-indicator">{{getWeek()}}</h4>
        </div>
        <ul *ngIf="this.recipes" class="dashboard-recipe-list__list">
            <app-recipetile *ngFor="let recipe of this.recipes" [recipe]="recipe"></app-recipetile>
        </ul>
    </section>
    <app-recipe [recipe]="selectedRecipe" [completable]="true"></app-recipe>
</div>