.container {
    display: flex;
}

.dashboard__recipe-list {
    display: flex;
    padding: 0.75rem;
    flex-direction: column;
    background-color: white;
    position: relative;
    z-index: 11;
    border-radius: 1rem;
    margin-top: 0.75rem;
    margin-left: 1.4rem;
    padding-bottom: 0;
    height: fit-content;
    max-height: 78vh;
}

.dashboard__week-indicator {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75em;
    margin-top: 0.5rem;
    margin-bottom: 1.75rem;
    margin-left: 0.5rem;
    text-transform: uppercase;
    color: #555;
    width: 100%;
}

.dashboard__title {
    font-family: 'Lora', serif;
    font-size: 2em;
    color: #222;
    margin-top: 0.5em;
    margin-bottom: 0;
    margin-left: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.dashboard-recipe-list__list {
    list-style: none;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

.dashboard__refresh-recipes {
    border: none;
    background: transparent;
    position: relative;
    margin-left: 6rem;
}

.dashboard__refresh-recipes fa-icon {
    font-size: 1.6em;
}

.dashboard__refresh-recipes {
    transform: rotate(0deg);
    transition: transform 0.3s;
}

.dashboard__refresh-recipes:hover {
    transform: rotate(180deg);
}

.dashboard__refresh-recipes:hover {
    cursor: pointer;
}

.dashboard__refresh-recipes:hover .dashboard__refresh-tooltip {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
