.container {
    display: flex;
}

.dashboard__recipe-list {
    display: flex;
    padding: 0.75rem;
    width: 25%;
    flex-direction: column;
    background-color: white;
    position: relative;
    z-index: 11;
    border-radius: 1rem;
    margin-top: 0.75rem;
    margin-left: 0.75rem;
    padding-bottom: 0;
    height: fit-content;
    max-height: 78vh;
}

.dashboard-recipe-list__title {

}

.dashboard__week-indicator {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75em;
    margin-top: 0.5rem;
    margin-bottom: 1.75rem;
    margin-left: 0.5rem;
    text-transform: uppercase;
    color: #555;
    width: 100%;
}

.dashboard__title {
    font-family: 'Lora', serif;
    font-size: 2em;
    color: #222;
    margin-top: 0.5em;
    margin-bottom: 0;
    margin-left: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.dashboard__recipe-item {
    border-radius: 1rem;
    padding: 0.8rem;
    margin-bottom: 0.75rem;
    cursor: pointer;
    background-image: linear-gradient(to top right, #d2f7dc, #f0d5d5);
}

.dashboard-recipe-list__list {
    list-style: none;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

.dashboard-recipe-list__recipe-title {
    font-family: 'Lora', serif;
    color: #333;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 0;
}

.dashboard-recipe-list__recipe-serves {
    margin-bottom: 0;
    text-align: right;
    font-style: italic;
    font-family: 'Lora', serif;
    font-size: 0.85em;
}

.dashboard__selected-recipe {
    position: relative;
    z-index: 10;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: fit-content;
    border-radius: 1rem;
    padding: 0.75rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    margin-top: 0.75rem;
    margin-left: 2rem;
    max-width: 60%;
    max-height: 78vh;
    overflow-y: auto;
}

.recipe-title {
    font-family: 'Lora', serif;
    font-size: 2em;
    margin-bottom: 0.5rem;
    margin-top: 0.5em;
}

.selected-recipe-description {
    font-family: 'Montserrat', sans-serif;
    color: #444;
    line-height: 1.4;
    max-width: 75%;
}

.recipe-ingredient {
    text-transform: capitalize;
    border-radius: 1rem;
    background-color: #DDD;
    width: fit-content;
    padding: 0.5em;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.85em;
    font-weight: 400;
    margin: 0.3em;
    transition: background-color 0.2s;
}

.recipe-ingredient:hover {
    cursor: pointer;
    background-color: #EEE;
}

.selected-recipe-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em;
    margin-bottom: 0.75em;
}

.recipe-source {
    margin-top: 0;
    font-family: 'Lora', serif;
    color: #333;
    font-style: italic;
}

.ingredients-container {
    display: flex;
    flex-wrap: wrap;
}

.recipe-step {
    font-family: 'Lora', serif;
    line-height: 1.6;
    margin-bottom: 1em;
    border-radius: 1rem;
    padding: 0.5em;
}

.recipe-step:hover {
    background-color: #DDD;
    box-shadow: 0.2em 0.2em 0.1em #BBB inset;
    cursor: pointer;
}

.dashboard__refresh-recipes {
    border: none;
    background: transparent;
    position: relative;
}

.dashboard__refresh-recipes fa-icon {
    font-size: 1.6em;
}

.dashboard__refresh-recipes:hover {
    cursor: pointer;
}

.dashboard__refresh-recipes:hover .dashboard__refresh-tooltip {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dashboard__refresh-tooltip {
    display: none;
    position: absolute;
    top: -0.8rem;
    left: 2.5rem;
    z-index: 12;
    border-radius: 1rem;
    width: max-content;
    padding: 0.8rem;
}

.tooltip-background {
    position: absolute;
    background-color: black;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    filter: blur(0.8rem);
}

.tooltip-text {
    font-family: 'Lora', serif;
    color: white;
    z-index: 13;
    position: relative;
    font-size: 1.1em;
}