<section class="description-section">
    <h2 class="title">Recipes Redefined.</h2>
    <p class="app-description">It can be hard to plan recipes even for those who love cooking. Managing ingredients while preventing waste is a tricky process. Neorecipe takes the work out of planning, using recipes you know and trust. Why not take a look?</p>
    <div class="signup">
        <a routerLink="/signup" class="signup-button">Sign Up</a>
    </div>
</section>
<aside class="figure-section">
   <video poster="assets/poster.webp" playsinline="" autoplay="" muted="" loop="" id="background_video">
        <source src="assets/cooking.mp4" type="video/mp4">
   </video>
</aside>